fun-video-player video {
    width: 100%;
    min-width: 600px;
}

fun-video-button button {
    background-color: dimgrey;
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 56.25%;
    cursor: pointer;
    width: 100%;
}

    fun-video-button button span {
        background-color: white;
        padding: 0.2%;
    }