#videoplayer {
    width: 100%;
    min-width: 600px;
    visibility: hidden;
}

#button-container {
    display: grid;
    grid-template-columns: repeat(4, calc(100% / 4));
}

button {
    background-color: dimgrey;
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 56.25%;
    cursor: pointer;
}

    button span {
        background-color: white;
        padding: 0.2%;
    }
