@page
@model Fun.Api.Pages.ButtonSettingsModel
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Fun api button generator</title>
    <link rel='shortcut icon' type='image/x-icon' href='funny.ico' />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
    <script>
        document.addEventListener("DOMContentLoaded", restoreForm);

        function setAllVideoCheckboxes(selected) {
            document.querySelectorAll("#videos input[type=checkbox]").forEach(checkbox => checkbox.checked = selected);
        }

        function onSubmitForm(event) {
            if (!document.getElementById('api-key').value) {
                alert('api key can not be empty');
                event.preventDefault();
            }

            saveForm();
        }

        function saveForm() {
            localStorage.setItem('api-key', document.getElementById('api-key').value);
            localStorage.setItem('nr-of-columns', document.getElementById('nr-of-columns').value);

            let mediafileNames = [];
            document.querySelectorAll("#videos input[name=mediafileNames]:checked").forEach(checkbox => mediafileNames.push(checkbox.value));
            localStorage.setItem('mediafileNames', mediafileNames.join());
        }

        function restoreForm() {
            document.getElementById('api-key').value = localStorage.getItem('api-key');
            document.getElementById('nr-of-columns').value = localStorage.getItem('nr-of-columns');

            let mediafileNames = localStorage.getItem('mediafileNames').split(',');
            document.querySelectorAll("#videos input[name=mediafileNames]").forEach(function (checkbox) {
                if (mediafileNames.includes(checkbox.value)) {
                    checkbox.checked = true;
                }
            });
        }
    </script>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#">Fun api button generator</a>
    </nav>
    <div class="container">
        <form method="post" target="_blank" onsubmit="onSubmitForm(event)">
            <div class="form-row">
                <div class="form-group col">
                    <label for="api-key">Api key</label>
                    <input type="text" name="apikey" class="form-control" id="api-key" aria-describedby="Api key" placeholder="Api key">
                </div>
                <div class="form-group col">
                    <label for="nr-of-columns">Number of columns</label>
                    <input type="text" name="nrofcolumns" class="form-control" id="nr-of-columns" aria-describedby="Number of columns" placeholder="Number of columns">
                </div>
            </div>
            <button type="button" class="btn btn-secondary" onclick="setAllVideoCheckboxes(true)">Select all</button>
            <button type="button" class="btn btn-secondary" onclick="setAllVideoCheckboxes(false)">Deselect all</button>
            <div id="videos" class="row row-cols-4">
                @foreach (var mediaFileName in Model.MediaFileNames)
                {
                    <div class="col">
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" name="mediafileNames" value="@mediaFileName" id="mediaFileName-@mediaFileName">
                            <label class="form-check-label" for="mediaFileName-@mediaFileName">
                                @mediaFileName
                            </label>
                        </div>
                    </div>
                }
            </div>
            <button formaction="/ButtonGenerator" class="btn btn-primary">Generate</button>
        </form>
    </div>
</body>
</html>
